
<div class="form-container">
    <form [formGroup]="seatInputForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="numberOfSeats">Number of Seats:</label>
            <input type="number" id="numberOfSeats" formControlName="numberOfSeats" 
            [ngClass]="{ 'errorField': (seatInputForm.controls['numberOfSeats'].invalid)}"
            >

            <div *ngIf="seatInputForm.controls['numberOfSeats'].invalid" class="error-message">
                Please enter a valid number of seats.
            </div>
        </div>

        <button type="submit" [disabled]="seatInputForm.invalid" class="submit-button">Submit</button>
    </form>
</div>